# ======================
# Python
# ======================
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual environments
# ======================
.venv/
venv/

# ======================
# Pytest / cache
# ======================
.pytest_cache/
.cache/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
